#header
  #boat
  #fence
  #backwave
  #frontwave
#tube
  .tube-container
    #tube-string
    #tube-dude
  .tube-container
    #tube-overlay
    #tube-backtop
    #tube-fronttop
    #tube-back
    #tube-front
    #tube-bottom
#content
  #depth1
    .container
      .half.left
        %h1.parallax-title
          What is Parallax
      .half.right.parallax-definition
        %p
          The apparent shift or movement of a nearby object against a distant background, when viewed from two different positions.
        %p
          %i
            Example: Hold your finger up in front of your eyes and move your head from side to side
      .clear
      .understanding-parallax
        = image_tag 'understand-parallax.png'
      .half.left.parallax-description
        %h1
          %span.purple
            Your entire site on
          %br
          %span.dark-blue
            one page
        .fish-1
        .fish-2
      .half.right
        %ul
          %li.pro User don't have to click through
          %li.pro Easy to update
          %li Slow to load content
          %li Google will downgrad the ranking of keywords for slower site
  #depth2
    .container
      .half.left
        %p Will be limited to (or defined by) one to three keywords.
        %p
          There's also a disadvantage when it comes to linking:
          %br
          With a multi-page website, links can be targeted to specific information
      .half.right.not-seo-friendly
        %h1.title.yellow
          Not SEO-friendly and keywords
        .fish-3
  #depth3
    .container
      .dark-overlay
      .not-losing-seo
        = image_tag 'using-parallax-without-losing-seo.png'
      .half.left.combo-parallax
        to use a "combo" method. Typically, this would mean using parallax on a homepage, but creating several other static pages that link to a site's main page.
      .half.right.combo-parallax
        This would allow for a seperate URL for some cotent and would allow for more keywords, a good thing when it comes to attracting new users to the site.
      .clear
      .half.right.pro-cons-title
        %h1.title.yellow
          Pros and Cons
  #depth4
    .container
      .buble-overlay
      .half.right.pro-cons-1
        It has the ability to create a dynamic, interactive user experience that can be very visually appealing.
        %h1.bubble-title 1
      .half.left.pro-cons-2
        You can put all your content on one page so that users do not have to navigate through several different pages or wait for them to load.
        %h1.bubble-title 2
      .half.right.pro-cons-3
        Typically, designers rely on graphics and colors to lead the users' eyes around the website. With parallax scrolling, the user can literally be led around the website in any direction the designer or UX expert wants
        %h1.bubble-title 3
      .half.left.pro-cons-4
        Because parallax scrolling is heavy animation it can take pages longer to load and it will not function smoothly across all browsers.
        %h1.bubble-title 4
      .half.right.pro-cons-5
        The website should be easy to use and easy to navigate, and this can be difficult if parallax scrolling is not used correctly. Using the effect on a content-heavy site can require too much scrolling which can frustrate the user and make reading difficult.
        %h1.bubble-title 5
      .half.left.pro-cons-6
        If your website uses parallax scrolling, it is important to know that it will not look the same on a mobile device as it does on a PC. This is not a huge problem, but the designer must know how to translate the effect from a PC to a mobile device correctly to avoid large compatiblity problems.
        %h1.bubble-title 6
  #footer
    #buble-city
      #bring-font
