#header
  #boat
  #fence
  #backwave
  #frontwave
#tube
  .tube-container
    #tube-string
    #tube-dude
  .tube-container
    #tube-overlay
    #tube-backtop
    #tube-fronttop
    #tube-back
    #tube-front
    #tube-bottom
#content
  #depth1
    .container
      .half.left
        %h1.parallax-title
          What is Parallax
      .half.right.parallax-definition
        %p
          The apparent shift or movement of a nearby object against a distant background, when viewed from two different positions.
        %p
          %i
            Example: Hold your finger up in front of your eyes and move your head from side to side
  #depth2
  #depth3
  #footer
    #buble-city
      #bring-font
