#header
  #boat
  #fence
  #backwave
  #frontwave
#tube
  .tube-container
    #tube-string
    #tube-dude
  .tube-container
    #tube-overlay
    #tube-backtop
    #tube-fronttop
    #tube-back
    #tube-front
    #tube-bottom
#content
  #depth1
    .container
      .half.left
        %h1.parallax-title
          What is Parallax
      .half.right.parallax-definition
        %p
          The apparent shift or movement of a nearby object against a distant background, when viewed from two different positions.
        %p
          %i
            Example: Hold your finger up in front of your eyes and move your head from side to side
      .clear
      .understanding-parallax
        = image_tag 'understand-parallax.png'
      .half.left.parallax-description
        %h1
          %span.purple
            Your entire site on
          %br
          %span.dark-blue
            one page
        .fish-1
        .fish-2
      .half.right
        %ul
          %li.pro User don't have to click through
          %li.pro Easy to update
          %li Slow to load content
          %li Google will downgrad the ranking of keywords for slower site
  #depth2
    .container
      .half.left
        %p Will be limited to (or defined by) one to three keywords.
        %p
          There's also a disadvantage when it comes to linking:
          %br
          With a multi-page website, links can be targeted to specific information
      .half.right.not-seo-friendly
        %h1.title.yellow
          Not SEO-friendly and keywords
        .fish-3
  #depth3
    .container
      .not-losing-seo
        = image_tag 'using-parallax-without-losing-seo.png'
  #footer
    #buble-city
      #bring-font
